# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Freelance\Wells Fargo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
